/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
@import "../src/app/style";
html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  line-height: normal;
  @include font-Dm();
}
